td,th{
    border-bottom: 1px solid #000;
    width: 200px;
    padding: 6px;
    margin: 4px;
}

table{
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 40px 0 #444;
    background: #f5a;
    max-width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.total_price{
    border: none;
    padding: 12px;
    font-size: 1.2em;
    text-align: center;
}

