*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
}

body,div,ul,li,input,label,h1,h2,img,header,footer,a{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}
