.container {
    width: 400px;
    height: 200px;
    background: red;
}

.a {
    width: 100%;
    height: 50%;
    background: blue;
}

.b {
    width: 50%;
    height: 50%;
    background: green;
}