body{
    margin: 0;
    font-family: sans-serif;
    background-color: #C1E1C1;
}

/* #EAC7C7 #FDF8F5 */

/* header */

header{
    text-align: center;
    color: #FDF8F5;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.fotoH{
    height: 320px;
    border-radius: 50%;
    margin-top: 15px;
    border: 6px solid #EAC7C7;
    z-index: 10;
    position: relative;
}

.fondo{
    background-image: url(img/tienda.webp);
    width: 100vw;
    height: 100%;
    z-index: 1;
    position: absolute;
    filter: blur(4px);
}

.overlay{
    background-color: #000c;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 5;
}

h1{
    position: relative;
    z-index: 10;
    font-size: 50px;
    margin: 15px;
}

p{
    position: relative;
    z-index: 10;
    width: 400px;
    margin: auto;
    text-wrap: pretty;
}

/* ------------------------ */

/* navbar */

.nav{
    background-color: #EAC7C7;
    display: flex;
    font-family: sans-serif;
    flex-flow: row wrap;
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px 0 #0009;
    justify-content: center;
}

.nav-list{
    display: flex;
    padding: 10px;
    justify-content:space-between ;
}

.nav-item{
    display: flex;
    align-items: center;
    width: 250px;
}

.nav-link{
    text-decoration: none;
    padding: 10px;
    background-color: #FDF8F5;
    border: 2px solid #000;
    border-radius: 40%;
    color: #000;
    transition-property:color,background ;
    transition-duration:0.4s ;
    transition-delay: 0.2s;
}

.logo{
    height: 60px;
    width: auto;
    margin: 20px;
}

.nav-link:hover{
    background-color: #C1E1C1;
    color: #FDF8F5;
}

.nav-login{
    background-color: #C1E1C1;
    color: #FDF8F5;
    transition-property:color,background ;
    transition-duration:0.4s ;
    transition-delay: 0.2s;
}

.nav-login:hover{
    background-color: #fffacd;
    color: #000;
}

main{
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    text-wrap: pretty;
}