body{
    margin: 0;
    background-color: #666;
}

*,div{
    box-sizing: border-box;
}

.crecedor{
    height: 100vh;
}

.container{
    
}

.box{
    view-timeline: --cajita block;
    background-color: #48e;
    padding: 20px;
    animation-name: llenar-barra;
    animation-timeline: --cajita;
    animation-timing-function: linear;
}

@keyframes llenar-barra {
    from{
        width: 0%;
        background-color: #48e;
    }
    to{
        width: 100%;
        background-color: #6d1;
    }

}
